[Unit]
Description=oj.xylab.fun
Requires=network.target

[Service]
#CPUAffinity=0,1
WorkingDirectory=/opt/ccs/bin/
Type=simple
User=root
Group=root
ExecStart=/opt/ccs/bin/JudgeOnPremise
Restart=always
RestartSec=10
SyslogIdentifier=dotnet-jop
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false
Environment=ASPNETCORE_URLS=http://*:8080

[Install]
WantedBy=multi-user.target
